<p>
  <b>Name:</b>
  <%=h @ad.name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @ad.phone %>
</p>

<p>
  <b>Company:</b>
  <%=h @ad.company %>
</p>

<p>
  <b>Business item:</b>
  <%=h @ad.business_item %>
</p>

<p>
  <b>Copy1:</b>
  <%=h @ad.copy1 %>
</p>

<p>
  <b>Copy2:</b>
  <%=h @ad.copy2 %>
</p>

<p>
  <b>Phone2:</b>
  <%=h @ad.phone2 %>
</p>

<p>
  <b>Fax:</b>
  <%=h @ad.fax %>
</p>

<p>
  <b>Www:</b>
  <%=h @ad.www %>
</p>

<p>
  <b>Hp:</b>
  <%=h @ad.hp %>
</p>

<p>
  <b>Kind:</b>
  <%=h @ad.kind %>
</p>

<p>
  <b>Size:</b>
  <%=h @ad.size %>
</p>
<p>
  <b>Template:</b>
  <%=h @ad.template %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
