<h1>Listing bookings</h1>

<table>
  <tr>
    <th>Ad</th>
    <th>Media</th>
    <th>Posting date</th>
    <th>Page</th>
    <th>Position</th>
  </tr>

<% for booking in @bookings %>
  <tr>
    <td><%=h booking.ad_id %></td>
    <td><%=h booking.media %></td>
    <td><%=h booking.posting_date %></td>
    <td><%=h booking.page %></td>
    <td><%=h booking.position %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New booking', new_booking_path %>
